* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: beige;
}

header h1 {
    text-align: center;
    margin-top: 3rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    max-width: 960px;
    margin: 4rem auto;
    height: 100%;
    /* flex-wrap: wrap; */
}

.card {
    background-color: white;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 0 10px darkgrey;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.tofik img {
    width: 100px;
}

@media (max-width:768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}