*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
html{
        scroll-behavior: smooth;
}
body{
        max-width: 1400px;
}

/* ==============================navbar=========================================== */
.navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(29, 29, 31, 0.767);
        position: sticky;
        top: 0;
        z-index: 3;
        /* width:100%; */
}
.navbar ul{
        display: flex;
        list-style: none;
        margin: 20px 0;
        list-style: none;
}
.navbar ul li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 10px;
}
.navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px 25px;
        border: transparent 2px solid;
        border-radius: 10%;
        transition: all .5s ease-in-out;
}
.navbar ul li a:hover{
        background-color: white;
        color: black;
        box-shadow: 0 0 10px white;
}
/* ================================= Home Page ================================= */
#home{
        display: flex;
        flex-direction: column;
        background-color: rgba(29, 29, 31, 0.767);
        height: 840px;
        justify-content: center;
        align-items: center;
        width:100%;
}
#home::before{
        content: '';
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        position: absolute;
        top: 0;
        right: 0;
        height: 1000px;
        width: 100%;
        z-index: -1;
        opacity: 0.8;
}
.main{
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
        align-items: center;
        position: absolute;
        top: 30%;
        left: 10%;
}
.header{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 8rem;
        text-align: center;
        margin: 40px 0;
        color: white;
        transition: all 5s;
}
.butn{
        /* padding: 10px 35px; */
        background-color: transparent;
        border: 1px solid white;
        color: white;
        outline: none;
        width: 90px;
        height: 90px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 100%;
        transition: all .5s ease;
}
.butn a{
        text-decoration: none;
        color: white;
}
.butn:hover{
        color: rgb(255, 255, 255);
        box-shadow: 0 0 10px white;
        background-color: rgb(126, 186, 186);
        cursor: pointer;
        width: 120px;
        height: 120px;
}
.circle1{
width: 50px;
height: 50px;
background: transparent;
/* background: red; */
border-radius: 100%;
position: absolute;
right: 20px;
/* transition: 0.2s all; */
}
.circle1:hover{
box-shadow: 0 0 30px rgba(0, 162, 255, 0.201);
background: rgba(0, 162, 255, 0.201);
}

.circle2{
width: 50px;
height: 50px;
background: transparent;
border-radius: 100%;
/* transition: 0.2s all; */
position: absolute;
right: 100px;
top: 50px;
}
.circle2:hover{
box-shadow: 0 0 30px rgba(77, 50, 157, 0.452);
background: rgba(155, 194, 216, 0.452);
}

.circle3{
width: 50px;
height: 50px;
background: transparent;
/* background: rgba(155, 194, 216, 0.452); */
border-radius: 100%;
position: absolute;
/* transition: 0.5s all; */
left: 100px;
top: 150px;
}
.circle3:hover{
box-shadow: 0 0 30px rgba(123, 15, 173, 0.452);
background: rgba(123, 15, 173, 0.452);
}

.circle4{
width: 50px;
height: 50px;
background: transparent;
/* background: rgba(155, 194, 216, 0.452); */
border-radius: 100%;
position: absolute;
left: 300px;
top: 50px;
/* transition: 0.5s all; */
}
.circle4:hover{
box-shadow: 0 0 30px rgba(77, 50, 157, 0.452);
background: rgba(155, 194, 216, 0.452);
}
.circle5{
width: 50px;
height: 50px;
background: transparent;
/* background: rgba(155, 194, 216, 0.452); */
border-radius: 100%;
position: absolute;
left: 600px;
top: 50px;
/* transition: 0.5s all; */
}
.circle5:hover{
box-shadow: 0 0 30px rgba(77, 50, 157, 0.452);
background: rgba(44, 183, 218, 0.452);
}
.circle6{
width: 50px;
height: 50px;
background: transparent;
/* background: rgba(155, 194, 216, 0.452); */
border-radius: 100%;
position: absolute;
left: 800px;
top: 400px;
transition: 0.5s all;
}
.circle5:hover{
box-shadow: 0 0 30px rgba(77, 50, 157, 0.452);
background: rgba(44, 183, 218, 0.452);
}
.circle7{
width: 50px;
height: 50px;
background: transparent;
/* background: rgba(155, 194, 216, 0.452); */
border-radius: 100%;
position: absolute;
left: 300px;
top: -100px;
/* transition: 0.5s all; */
}
.circle7:hover{
box-shadow: 0 0 30px rgba(77, 50, 157, 0.452);
background: rgba(44, 183, 218, 0.452);
}
/* ============================= About ==================================== */
#about{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width:100%;
        height: 100vh;
        background: radial-gradient(circle, rgba(63,94,251,0.7396630934150077) 0%, rgba(252,70,107,0.7549770290964778) 100%) no-repeat center center/cover;
}
#about h1{
        font-family: 'Cedarville Cursive', cursive;
        color: rgb(49, 48, 48);
}
.about-text h2{
        font-family:'Bebas Neue', cursive;
        font-size: 4rem;
        margin-bottom: 10px;
}
.about-text{
       background: white;
       box-shadow: 0 0 40px white;
       text-align: center;
       font-size:1rem ;
       width: 500px;
       line-height: 1.8rem;
       font-family: Arial, Helvetica, sans-serif;
       
}
.about-text:hover{
        box-shadow: 0 0 80px white;
}
.header2{
        font-family: Arial, Helvetica, sans-serif;
}
/* ================================ Projects =================================== */
#projects{
        display: flex;
        flex-direction: column;
        background-color: rgba(29, 29, 31, 0.767);
        align-items: center;
        width:100%;
}
.header3{
        color: white;
        font-size: 4rem;
        margin: 20px 0;
        text-shadow: 0 0 20px black;
}
.header3:hover{
        color: red;
        font-size: 4.2rem;
        margin: 20px 0;
        text-shadow: 0 0 20px red;
}
.gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        margin-bottom: 60px;
        
        
}
.gallery img{
        width: 360px;
        height: 240px;
        margin: 10px;
}
#one:hover{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.767);
        transform: scale(1.2);
}
#two:hover{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.767);
        transform: scale(1.2);
}
#three:hover{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.767);
        transform: scale(1.2);
}
#four:hover{
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.767);
        transform: scale(1.2);
}

/* =============================== Contact ======================================= */
#contact{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        margin-top: 100px;
        width:100%;
}
#contact h1{
        transform: scale(2);
        margin-bottom: 10px;
        color: rgb(70, 70, 70);
        font-family:'Bebas Neue', cursive;
}
.icons i{
        color: lightgray;
        justify-content: space-between;
        margin-left: 60px;
        transform: scale(4);
        transition: all 0.1s ease-in-out;    
}
.icons i:hover{
color: lightblue;

}
/* ========================= Tablet ========================= */
@media(max-width: 500px){
        #home{
                background-color: rgba(29, 29, 31, 0.767);
                width: 500px;
        }
        .pic{
                flex-direction: column;
                align-items: center;
        }
        .about-text h2{
                text-align: center;
                padding: 10px;
        }
        .navbar ul{
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
        }
        .header{
                font-size: 4rem;
        }
        .header2{
                font-size: 1rem;
        }
        .about-text{
                font-size: 0.7rem;
        }

}